<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title></title>
</head>
<body>
        <form id="formulario-ver" action="#" method="post" data-fv-excluded="disabled">
            <div class="modal fade" id="modal-ver" tabindex="-1" role="dialog"
                data-backdrop="static" data-keyboard="false" 
                style="padding-left: 0;display: none;">
                <div class="modal-dialog modal-lg" role="document"
                    style="">
                    <div class="modal-content">
                        <div class="card">
                            <div class="card-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2><b>INCUMPLIENTO DE CONTRATO</b><small>Datos de Incumplimiento de Contrato</small></h2>
                                    </div>
      
                                </div>
                            </div>
                            <div class="modal-body">
                                <fieldset>
                                    <legend>DATOS BÁSICOS</legend>
                                    <div class="row" id="js_DatosBasicos">
                                       
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Número de  Solicitud:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="numSoltActual"> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Fecha Solicitud:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="fechaSoltActual"> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Cédula:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="ciActual"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Beneficiario:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" value="" class="form-control mcss_input" disabled="disabled" name="beneficiarioActual"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>VEHÍCULO</legend>
                                    <div class="row Data_Vehiculo">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Placa:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="placa_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Color:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" value="" class="form-control mcss_input" disabled="disabled" name="color_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Marca:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="marca_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Modelo:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="modelo_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Tipo Vehiculo:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="tipoVeh_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Tipo Servicio:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="tipServ_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Sistema Motor:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="SistemaMotor_a"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Num. Motor:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="num_motor_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Num. Chasis:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="num_chasis_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-md-6 control-label"><b>Targta. Prioridad:</b></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line"><input type="text" class="form-control mcss_input" disabled="disabled" name="tjeta_prioridad_a"></div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>              
                                </fieldset>
                                <fieldset>
                                    <legend><strong>POLIZA DE SEGURO DEL VEHICULO</strong></legend>
                                    <div class="poliza-data" style="">
                                         <div class="row" >
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-md-6 control-label" style=""><b>Numero de Poliza</b></label>
                                                    <div class="col-md-6">
                                                        <div class="fg-line">
                                                            <input type="text" placeholder="Numero de Poliza" class="form-control mcss_input input-sm dt-pol" name="numeroPol" id="numeroPol" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-md-6 control-label"><b>Aseguradora</b></label>
                                                    <div class="col-md-6">
                                                        <div class="fg-line">
                                                            <select data-placeholder="n" name="idaseg" class="form-control mcss_input fg-input dt-pol"  id="select-aseg" disabled="disabled">
                                                                <option value="">Seleccione Aseguradora</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>      
                                    </div>
                                </fieldset>
                                <br>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="fg-label">Descripcion de Incumplimiento</label>
                                        <div class="">
                                            <textarea disabled="disabled" class="form-control fg-input " id="text-desc" name="description"  maxlength="120">                                    
                                            </textarea>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-primary waves-effect">Imprimir</button>
                                <button type="button" class="btn btn-danger waves-effect"
                                    data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>  
        </form>



	<script type="text/javascript">
		$.getJSON('RestTIContrato/Ver',{idincl:idGincl},function(datos){
			console.log('data:',datos)

			var objetoFiltro=datos[0]
		   //DATOS BASICOS
                $('input[name="numSoltActual"]').val(objetoFiltro.solicitud.numSolt)
                $('input[name="fechaSoltActual"]').val(objetoFiltro.solicitud.fecha)
                $('input[name="beneficiarioActual"]').val(objetoFiltro.solicitud.persona.nombres+' '+objetoFiltro.solicitud.persona.ap+' '+objetoFiltro.solicitud.persona.am)
                $('input[name="ciActual"]').val(objetoFiltro.solicitud.persona.ci)

                //VEHICULO
                $('#js_Vehiculo').loadJSON(objetoFiltro.solicitud.vehiculo)
                $('input[name="placa_a"]').val(objetoFiltro.solicitud.vehiculo.placa)
                $('input[name="color_a"]').val(objetoFiltro.solicitud.vehiculo.color)
                $('input[name="marca_a"]').val(objetoFiltro.solicitud.vehiculo.marcaVehiculo.nombre)
                $('input[name="modelo_a"]').val(objetoFiltro.solicitud.vehiculo.modeloVehiculo.nombre)
                $('input[name="tipoVeh_a"]').val(objetoFiltro.solicitud.vehiculo.tipoVehiculo.nombre)
                $('input[name="tipServ_a"]').val(objetoFiltro.solicitud.vehiculo.tipoServicio.nombre)
                $('input[name="SistemaMotor_a"]').val(objetoFiltro.solicitud.vehiculo.tipoMotor.nombre)
                $('input[name="num_motor_a"]').val(objetoFiltro.solicitud.vehiculo.num_motor)
                $('input[name="num_chasis_a"]').val(objetoFiltro.solicitud.vehiculo.num_chasis)
                $('input[name="tjeta_prioridad_a"]').val(objetoFiltro.solicitud.vehiculo.tjeta_prioridad)
                $('input[name="cilindrada_a"]').val(objetoFiltro.solicitud.vehiculo.cilindrada)

                //INCUMPLIENTO
                $('input[name="numeroPol"]').val(objetoFiltro.solicitud.vehiculo.poliza.numeroPol)
                $('#select-aseg option').each(function(){
	                if($(this).val()==objetoFiltro.solicitud.vehiculo.poliza.idaseg){
	                    document.getElementById("select-aseg").value=""+objetoFiltro.solicitud.vehiculo.poliza.idaseg+""
	                }
	            })
                $('#text-desc').val(objetoFiltro.descripcion)


        })

	    $.post('RestAprobaciones/getAseguradoras',function(resp){
	        console.log('Aseguradora: ',resp)

	        iniciarCallback(IniciarChosen);

	        function iniciarCallback(metodo){
	            $(resp).each(function(index,item){

	                $('#select-aseg').append('<option value="'+item.idaseg+'">'+item.nombre+'</option>')
	            })
	            metodo();    
	        }

	        function IniciarChosen(){
	            // $('#select-aseg').chosen()
	        }

	    })
	</script>
</body>
</html>